:root {
    --yellow: #ffc600;
    --black: #272727;
}

.mag-container {
    display: grid;
    align-content: center;
    width: 100%;
    grid-template-columns: repeat(6, auto);
    grid-gap:20px;
    padding-top: 24%;
}

a:link, a:visited {
    color: black;
}

.mag {
    display: grid;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    border-radius: 3px;
    font-size: 35px;
}
